
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index-Test</title>
</head>
<body>
    <div> 
        @ViewBag.Greeting World (from View)
        <br />
        <p>
            We're going to have an exciting party.
        </p>
        @Html.ActionLink("RSVP now", "RsvpForm")
    </div>
</body>
</html>
